<!-- not-found.component.html -->
<div class="container items-center justify-center h-5/6">
    <video autoplay loop playsinline id="broken-glass-video" class="absolute object-cover max-w-screen-2xl">
        <source src="assets/404_screen_breaking.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay text-white text-center zoom-in-text">
        <h1 class="text-4xl mb-8">404 - Page Not Found</h1>
        <p class="text-lg mb-12">Oops! It seems like the page you are looking for is broken.</p>
        <a (click)="redirect()" class="btn cursor-pointer">Go back to the homepage</a>
    </div>
</div>