<!-- not-found.component.html -->
<div class="fixed left-0 items-center justify-center h-5/6">
    <video autoplay loop playsinline id="broken-glass-video">
        <source src="https://res.cloudinary.com/dcz8mfqmp/video/upload/v1712513810/404_screen_breaking_t4atii.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay absolute  text-white text-center zoom-in-text">
        <h1 class="text-4xl mb-8">404 - Page Not Found</h1>
        <p class="text-lg mb-12">Oops! It seems like the page you are looking for is broken.</p>
        <a (click)="redirect()" class="inline-block py-3 rounded-md px-5 bg-white cursor-pointer">Go back to the homepage</a>
    </div>
</div>