<section class="bg-custom-gradient">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-420  mix-blend-color-burn" src="assets/Logo/logo1.png">
        </a>
        <div class="w-full backdrop-blur-lg bg-white/40 md:mt-0 sm:max-w-lg xl:p-0 rounded-lg shadow ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-none tracking-normal text-gray-950 md:text-2xl">
                    Sign in to your account
                </h1>
                <form class="mt-4 space-y-4 md:space-y-6" action="#">
                    <div>
                        <p *ngIf = "incorrect" class="text-sm font-semibold text-red-600 "> 
                            *your email or password is incorrect.*
                        </p>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-semibold text-gray-900">Email</label>
                        <div *ngIf = "incorrect; then thenBlock else elseBlock"> </div>
                            <ng-template #thenBlock>
                                <input [(ngModel)]="email" type="email" name="email" id="email" class="bg-gray-100 border-2 border-red-500 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5" placeholder="name@company.com" required="">
                            </ng-template>
                            <ng-template #elseBlock>
                                <input [(ngModel)]="email" type="email" name="email" id="email" class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5" placeholder="name@company.com" required="">
                            </ng-template>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-semibold text-gray-900">Password</label>
                        <div *ngIf = "incorrect; then thenBlock1 else elseBlock1"> </div>
                            <ng-template #thenBlock1>
                                <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-100 border-2 border-red-500 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5" required="">
                            </ng-template>
                            <ng-template #elseBlock1>
                                <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5" required="">
                            </ng-template>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                              <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                            </div>
                            <div class="ml-3 text-sm">
                              <label for="remember" class="text-gray-800">Remember me</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-semibold text-primary-700 hover:underline ">Forgot password?</a>
                    </div>
                    <button (click)="signin()" type="submit" class="w-full text-primary-700 font-bold hover:bg-primary-700 focus:bg-primary-700 focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-white rounded-lg text-base text-center px-5 py-2.5">Sign in</button>
                    <p class="text-sm font-normal text-black">
                        Don't have an account yet? <a routerLink="/registerDoctor" class="font-medium text-primary-700 hover:underline">Sign up</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>