<nav *ngIf="!hideNavbar" class="w-full flex align-center bg-custom-gradient">
    <div class="mx-6 justify-center my-2">
        <a routerLink="/homedoctor" routerLinkActive="active">
            <img class="flex float-left w-64 mix-blend-color-burn" src="assets/Logo/logo1.png" alt="image">
        </a>
    </div>
    <div class="ml-auto">
        <ul class="flex float-right">
            <li class="my-3 mx-5">
                <a routerLink="/homedoctor" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >Home</a>
            </li>
            <li class="my-3 mx-5">
                <a routerLink="/homedoctor" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >About Us</a>
            </li>
            <!-- <li class="my-3 mx-5">
                <a routerLink="/signinDoctor" class="font-semibold text-lg text-white px-1 py-1" href="#">Login</a>
            </li> -->
            <li class="my-3 mx-5">
                <a routerLink="/dashboardDoctor" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >Dashboard</a>
            </li>
            <!-- <li class="my-3 mx-5">
                <a routerLink="/registerDoctor" class="font-semibold text-lg text-white px-1 py-1" href="#">Register</a>
            </li> -->
            <li class="my-3 mx-5">
                <a routerLink="/logout" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1">Logout</a>
            </li>
        </ul>
    </div>
</nav>