<nav *ngIf="!hideNavbar" class="w-full flex align-center items-center bg-custom-gradient" >
    <div class="mx-6 my-2">
        <a routerLink="/homepatient" routerLinkActive="active" class="cursor-pointer" >
            <img class="flex float-left w-64 mix-blend-color-burn" src="assets/Logo/logo1.png" alt="image">
        </a>
    </div>
    <div class="ml-auto">
        <ul class="flex float-right items-center ">
            <li *ngIf="!isLogin" class="my-3 mx-5">
                <a (click)="signInDoctor()" class="font-semibold text-lg text-white px-1 py-1 cursor-pointer" >For Doctor</a>
            </li>
            <li class="my-3 mx-5">
                <div>
                    <input type="text" class="font-semibold text-lg border-2 border-black border-opacity-25 rounded-l-xl placeholder:text-white placeholder:font-semibold placeholder:tracking-wide selection:text-white selection:font-semibold selection:tracking-wide focus:border-blue-50 px-1 py-1 w-56 h-9 bg-black bg-opacity-10" name="search1" id="search1" placeholder=" Search here">
                    <button class="flex float-right items-center font-semibold text-lg w-9 h-9 px-2 py-2 bg-black bg-opacity-10 border-2 border-black border-opacity-25 rounded-r-xl">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
                </div>
            </li>
            <li class="my-3 mx-5 ">
                <a routerLink="/homepatient" routerLinkActive="active" class="font-semibold text-lg text-white">Home</a>
            </li>
            <li class="my-3 mx-5">
                <a routerLink="/homepatient" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >About Us</a>
            </li>
            <li class="my-3 mx-5">
                <a routerLink="/dashboardPatient" routerLinkActive="active"  class="font-semibold text-lg text-white px-1 py-1" >Dashboard</a>
            </li>
            <li *ngIf="!isLogin" class="my-3 mx-5">
                <a routerLink="/signinPatient" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1">Login</a>
            </li>
            <li *ngIf="!isLogin" class="my-3 mx-5">
                <a routerLink="/registerPatient" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >Register</a>
            </li>
            <li *ngIf="isLogin"  class="my-3 mx-5">
                <a routerLink="" routerLinkActive="active" class="font-semibold text-lg text-white px-1 py-1" >Logout</a>
            </li>
        </ul>
    </div>
</nav>
