<div class="flex flex-wrap mb-6">
    <div class="w-full md:w-1/6 px-4 py-3 md:mb-0 bg-blue-600 border-2 rounded-xl z-50 h-screen mx">
        <ul class="w-full flex flex-col items-center ">
            <li class="py-3 items-center inline-block w-full hover:bg-blue-500 border-2 border-blue-600  hover:border-blue-700 rounded-xl ">
                <a class="w-full font-semibold  text-lg text-white px-1 py-1 " >Profile</a>
            </li>
            <li class="py-3 items-center inline-block w-full hover:bg-blue-500 border-2 border-blue-600  hover:border-blue-700 rounded-xl ">
                <a class="w-full font-semibold text-lg text-white px-1 py-1" >Appointments</a>
            </li>
            <li class="py-3 items-center inline-block w-full hover:bg-blue-500 border-2 border-blue-600  hover:border-blue-700 rounded-xl  ">
                <a class="w-full font-semibold text-lg text-white px-1 py-1" >Slots</a>
            </li>
            <li class="py-3 items-center inline-block w-full hover:bg-blue-500 border-2 border-blue-600  hover:border-blue-700  rounded-xl ">
                <a class="w-full font-semibold text-lg text-white px-1 py-1" >Profile</a>
            </li>
        </ul>
    </div>
    <div class="w-full md:w-5/6 mb-6 md:mb-0 bg-red-400  border-2 rounded-xl z-50 h-screen mx">
        <label class="px-7 text-3xl text-gray-900 dark:text-black font-semibold">Profile</label>
        <div class="p-3">
        <div class="box-border border-4  item-center lg:p-4 xl:pb-11.5">
            <div class="h-auto flex items-center justify-center">
                <img class="rounded-full w-36 h-36" src="assets/Logo/logo1.png" alt="image description">
            </div>
        </div>
        </div>
        <div class="h-auto p-2">
            <div class="h-auto flex ">
                <label class="text-3xl text-gray-900 dark:text-black font-semibold">Name : Bharad Raj</label>
            </div>
            <div class="h-auto flex">
                <label class="text-3xl text-gray-900 dark:text-black font-semibold">DOB : 01/09/2003</label>
            </div>
            <div class="h-auto flex">
                <label class="text-3xl text-gray-900 dark:text-black font-semibold">Age : 20</label>
            </div>
        </div>

    </div>

</div>