<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0 bg-green-400 h-full">
        <ul class="items-center">
            <li class="my-3" >
                <a class="font-semibold text-lg text-white px-1 py-1" >Profile</a>
            </li>
            <li>
                <a >Appointments</a>
            </li>
            <li>
                <a >Slots</a>
            </li>
            <li>
                <a >Profile</a>
            </li>
            
        </ul>

    </div>
    <div class="w-full md:w-5/6 px-3 mb-6 md:mb-0 bg-red-400 h-full">
        <label for="phone_no" class="block mb-2 text-sm font-semibold text-gray-900">Phone No.</label>
        
    </div>

</div>