<div class="flex flex-wrap min-vh-screen">
  <div id="sidebar" class="sticky top-14 w-full md:w-1/6 pl-4 py-4 md:mb-0 bg-blue-600 h-full mx">
    <form>
      <ul class="w-full flex flex-col items-center">
        <!-- <div class="indicator bg-blue-300" [@slideIndicator]="getTabIndex(activeTab)">
          <span></span>
        </div> -->

        <li (click)="view_profile()" class="py-3 items-center inline-block w-full  rounded-xl cursor-pointer"
          [@slideA]="getshow(Tab.Profile)">
          <a class="w-full font-semibold text-lg text-white px-1 py-1">Profile</a>
        </li>
        <li (click)="view_appointments()" class="py-3 items-center inline-block w-full  rounded-xl cursor-pointer"
          [@slideA]="getshow(Tab.Appointments)">
          <a class="w-full font-semibold text-lg text-white px-1 py-1">Appointments</a>
        </li>
        <li (click)="view_slots()" class="py-3 items-center inline-block w-full rounded-xl cursor-pointer"
          [@slideA]="getshow(Tab.Slots)">
          <a class="w-full font-semibold text-lg text-white px-1 py-1">Slots</a>
        </li>
        <li class="py-3 items-center inline-block w-full rounded-xl">
          <a class="w-full font-semibold text-lg text-white px-1 py-1">Profile</a>
        </li>
      </ul>
    </form>
  </div>
  <div *ngIf="profile" class="w-full mt-14 top-14 md:w-5/6 mb-6 md:mb-0 bg-blue-300  h-auto mx">

    <div class="h-full  p-8">
      <div class="bg-white rounded-xl shadow-xl pb-8">
        <div class="w-full h-[250px]">
          <img src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg"
            class="w-full h-full rounded-tl-lg rounded-tr-lg">
        </div>
        <div class="flex flex-col items-center -mt-20">
          <div *ngIf="doctor">
            <img src="assets/Logo/logo1.png" class="w-40 h-40 border-4 border-white rounded-full">
            <div class="flex items-center space-x-2 mt-2">
              <p class="text-2xl"> {{doctor.Name}} </p>
              <span class="bg-blue-500 rounded-full p-1" title="Verified">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
                </svg>
              </span>
            </div>
            <p class="text-gray-700"> {{doctor.Specialist}} </p>
            <p class="text-sm text-gray-500">Nadiad, Gujarat</p>
          </div>
        </div>

      </div>

      <div class="mt-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
        <div class="w-full flex flex-col 2xl:w-1/3">
          <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
            <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
            <ul class="mt-2 text-gray-700">
              <div *ngIf="doctor">
                <li class="flex border-y py-2">
                  <span class="font-bold w-32">Full name:</span>
                  <span class="text-gray-700">{{ doctor.Name }}</span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Birthday:</span>
                  <span class="text-gray-700"> {{birthday}} </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Mobile:</span>
                  <span class="text-gray-700"> {{doctor.Phone_no}} </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Email:</span>
                  <span class="text-gray-700"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                      data-cfemail="01606c606f6560736e7272416479606c716d642f626e6c">bharadraj2003@gmail.com</a></span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Specialist :</span>
                  <span class="text-gray-700"> {{doctor.Specialist}} </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Category :</span>
                  <span class="text-gray-700"> {{doctor.Category}} </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Experiance :</span>
                  <span class="text-gray-700"> {{doctor.Experiance}} </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-32">Languages:</span>
                  <span class="text-gray-700">English</span>
                </li>
              </div>
            </ul>
            <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
              <div class="flex items-center space-x-4 mt-2">
                <button
                  class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100"
                  (click)="openEditProfilePopup()">

                  <i class="fas fa-user" style="color: #ffffff;"></i>
                  <span> Edit Profile </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-edit-profile *ngIf="isEditProfileModalOpen" [doctor]="doctor" (saveChanges)="updateDoctor($event)"
    (closeModal)="closeModal()" [@fadeInOut]="isEditProfileModalOpen ? 'visible' : 'hidden'">
  </app-edit-profile>

  <div *ngIf="appointments" class="w-full mt-14 md:w-5/6 mb-6 md:mb-0 bg-blue-300  h-auto mx">
    <div class="h-full  p-8">
      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr class="text-lg text-gray-900 font-bold tracking-wide text-left  uppercase border-b bg-white ">
                <th class="px-4 py-3">Patient</th>
                <th class="px-4 py-3">Date</th>
                <th class="px-4 py-3">Time</th>
                <th class="px-4 py-3">Amount</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Invite</th>
                <th class="px-4 py-3">Cancel</th>
              </tr>
            </thead>

            <tbody *ngFor="let appointment of allAppointments; let index = index"
              class="bg-white divide-y dark:divide-gray-700 ">
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                      <img class="object-cover w-full h-full rounded-full"
                        src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg" alt=""
                        loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold text-gray-700 ">{{ allAppointments[index].Patient_id.Name }}</p>
                      <p class="text-xs text-gray-600 ">Senior Software Engineer</p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-gray-700 text-sm">
                  {{ allAppointments[index].Date.slice(0, 10) }}
                </td>
                <td class="px-4 py-3 text-gray-700 text-sm">
                  {{ allAppointments[index].Starting_time }}
                </td>
                <td class="px-4 py-3 text-gray-700 text-sm">
                  {{ allAppointments[index].Payment_id.Payable_amount }}
                </td>
                <td class="px-4 py-3 text-gray-700 text-xs">
                  <span class="px-2 py-1 font-semibold leading-tight 
  {{ allAppointments[index].Status === 'Canceled' ? 'text-red-700 bg-red-100 dark:bg-red-700 dark:text-red-100' : 'text-green-700 bg-green-100 dark:bg-green-700 dark:text-green-100' }}
  rounded-full">
                    {{ allAppointments[index].Status }}
                  </span>
                </td>
                <td class="px-4 py-3 text-gray-700 text-sm">
                  <a routerLink="/DoctorConsulting" routerLinkActive="active">
                    <button [disabled]="allAppointments[index].Status === 'Canceled'"
                      [ngStyle]="{ 'opacity': allAppointments[index].Status === 'Canceled' ? '0.5' : '1', 'cursor': allAppointments[index].Status === 'Canceled' ? 'not-allowed' : 'pointer' }"                
                      class="inline-block px-4 py-2 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-purple-700 to-pink-500 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs ">Create
                      Room
                    </button>
                  </a>
                </td>
                <td class="px-4 py-3 text-gray-700 text-sm">
                  <button (click)="cancleAppointmet(allAppointments[index]._id)"
                    [disabled]="allAppointments[index].Status === 'Canceled'"
                    [ngStyle]="{'opacity': allAppointments[index].Status === 'Canceled' ? '0.5' : '1', 'cursor': allAppointments[index].Status === 'Canceled' ? 'not-allowed' : 'pointer'}"
                    class="inline-block px-4 py-2 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-red-600 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs ">Cancel</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
          <span class="flex items-center col-span-3">
            Showing 21-30 of 100
          </span>
          <span class="col-span-2"></span>
          <!-- Pagination -->
          <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
              <ul class="inline-flex items-center">
                <li>
                  <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Previous">
                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                      <path
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                  </button>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">1
                  </button>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">2
                  </button>
                </li>
                <li>
                  <button
                    class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">3
                  </button>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">4
                  </button>
                </li>
                <li>
                  <span class="px-3 py-1">...</span>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">8
                  </button>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">9
                  </button>
                </li>
                <li>
                  <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                    aria-label="Next">
                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                      <path
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </nav>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="slot" class="mt-14 w-full md:w-5/6 mb-6 md:mb-0 bg-blue-300 h-auto mx">
    <div class="h-full p-8">
      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div
          class="bg-blue-300 rounded-lg  max-h overflow-hidden scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200">
          <form *ngIf="doctor" (submit)="submitForm()">
            <div class="w-full backdrop-blur-lg bg-white/50 md:mt-0 sm:max-w-6xl xl:p-0 rounded-lg shadow">
              <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-none tracking-normal text-gray-950 md:text-2xl">
                  Confirm Your Slots
                </h1>
                <div class="mt-4 space-y-4 md:space-y-6" action="#">
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label for="counselling_fee" class="block mb-2 text-sm font-semibold text-gray-900">Counselling
                        Fee</label>
                      <input [(ngModel)]="doctor.Counselling_fee" type="number" name="counselling_fee"
                        id="counselling_fee" (change)="onChangeFee()"
                        class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                        required="">
                    </div>
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                      <label for="slot_length" class="block mb-2 text-sm font-semibold text-gray-900">Slot
                        length</label>
                      <div class="flex flex-row ...">
                        <label *ngFor="let option of slotTiming">
                          <div class="pt-2 pr-4 md:mb-0">
                            <input id="slot_length_{{ option.value }}" [(ngModel)]="doctor.Slot_length" type="radio"
                              [value]="option.value" [attr.disabled]='disableRadio ? true : null' name="colored-radio"
                              class="w-4 h-4 text-red-600 disabled bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 :bg-gray-700 dark:border-gray-600">
                            <label for="slot_length"
                              class="ms-2 text-md font-medium text-gray-900 /*dark:text-gray-300*/">{{option.label}}</label>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-wrap w-full">
                    <!-- <div class="md:w-1/3 ml">
                      <div class="flex flex-wrap mr-6">
                        <label for="selectedslots" class="block mb-2 text-sm font-semibold text-gray-900">Day</label>
                        <select id="selectedslots" [(ngModel)]="selectedslots" name="selectedslots"
                          class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                          required="">
                          <option *ngFor="let day of Alldays" [value]="day.value">{{ day.label }}</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf = "selectedslots == -1; then defaultvalueblock else slotbookingblock"> </div> -->

                    <div class="md:w-1/3 ml">
                      <div class="flex flex-wrap mr-6">
                        <label for="DayDropdown" class="block mb-2 text-sm font-semibold text-gray-900">Day</label>
                        <select id="DayDropdown" [(ngModel)]="selectedDay" name="DayDropdown" (change)="onChange()"
                          class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                          required="">
                          <option *ngFor="let day of Alldays" [value]="day.value">{{ day.label }}</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="selectedslots == -1; then defaultvalueblock else slotbookingblock"> </div>

                    <ng-template #defaultvalueblock>
                      <div class="md:w-2/3">
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="starting_time_first"
                              class="block mb-2 text-sm font-semibold text-gray-900">Starting
                              Time (First)</label>
                            <div class="flex">
                              <input value="0" type="time" [(ngModel)]="startTimeFirst" (change)="onChange()"
                                name="starting_time_first" placeholder="Enter Starting Time" id="starting_time_first"
                                class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                                required>
                            </div>
                          </div>
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="ending_time_first" class="block mb-2 text-sm font-semibold text-gray-900">Ending
                              Time (First)</label>
                            <input value="0" type="time" [(ngModel)]="endTimeFirst" (change)="onChange()"
                              name="ending_time_first" placeholder="Enter Starting Time" id="ending_time_first"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                              required>

                          </div>
                          <div *ngIf="compareTimes(endTimeFirst, startTimeFirst)" class="w-full px-3 mb-6 md:mb-0">
                            <p style="color: red;">Ending time must be greater than starting time.</p>
                          </div>
                        </div>

                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="starting_time_second"
                              class="block mb-2 text-sm font-semibold text-gray-900">Starting Time (Second)</label>
                            <input value="0" type="time" [(ngModel)]="startTimeSecond" (change)="onChange()"
                              name="starting_time_second" placeholder="Enter Starting Time" id="starting_time_second"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                              required>
                          </div>
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="ending_time_second"
                              class="block mb-2 text-sm font-semibold text-gray-900">Ending
                              Time (Second)</label>
                            <input value="0" type="time" [(ngModel)]="endTimeSecond" (change)="onChange()"
                              name="ending_time_second" placeholder="Enter Starting Time" id="ending_time_second"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5"
                              required>
                          </div>
                          <div *ngIf="compareTimes(startTimeSecond, endTimeFirst)" class="w-full px-3 mb-6 md:mb-0">
                            <p style="color: red;">Starting time of seconde must be greater than ending time of first.
                            </p>
                          </div>
                          <div *ngIf="compareTimes(endTimeSecond, startTimeSecond)" class="w-full px-3 mb-6 md:mb-0">
                            <p style="color: red;">Ending time must be greater than starting time.</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template #slotbookingblock>
                      <div class="md:w-2/3">
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="starting_time_first"
                              class="block mb-2 text-sm font-semibold text-gray-900">Starting
                              Time (First)</label>
                            <input [(ngModel)]="doctor.Starting_time_first[selectedslots]" type="number"
                              name="starting_time_first" id="starting_time_first"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5">
                          </div>
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="ending_time_first" class="block mb-2 text-sm font-semibold text-gray-900">Ending
                              Time (First)</label>
                            <input [(ngModel)]="doctor.Ending_time_first[selectedslots]" type="number"
                              name="ending_time_first" id="ending_time_first"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5">
                          </div>
                        </div>

                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="starting_time_second"
                              class="block mb-2 text-sm font-semibold text-gray-900">Starting Time (Second)</label>
                            <input [(ngModel)]="doctor.Starting_time_second[selectedslots]" type="number"
                              name="starting_time_second" id="starting_time_second"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5">
                          </div>
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label for="ending_time_second"
                              class="block mb-2 text-sm font-semibold text-gray-900">Ending
                              Time (Second)</label>
                            <input [(ngModel)]="doctor.Ending_time_second[selectedslots]" type="number"
                              name="ending_time_second" id="ending_time_second"
                              class="bg-gray-100 border border-gray-400 text-gray-800 sm:text-sm rounded-lg focus:ring-primary-#2563eb focus:border-primary-#2563eb block w-full p-2.5">
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>

                  <div *ngIf="slotFirstRelatedString" style="color: red;">
                    {{slotFirstRelatedString}}
                  </div>
                  <div *ngIf="slotSecondeRelatedString" style="color: red;">
                    {{slotSecondeRelatedString}}
                  </div>

                  <!-- <div *ngFor="let slot of timeSlots">
                      {{ slot.day | date: 'EEEE' }}: {{ slot.startTime }} - {{ slot.endTime }}
                    </div> -->
                </div>
              </div>
            </div>
            <div>
              <button type="submit" [disabled]="isButtonDisabled"
                [ngStyle]="{'opacity': isButtonDisabled ? '0.5' : '1', 'cursor': isButtonDisabled ? 'not-allowed' : 'pointer'}"
                class="w-full my-3 text-primary-700 font-bold hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-white rounded-lg text-base text-center px-5 py-2.5">Save
                Changes</button>
            </div>
          </form>
        </div>
      </div>
      <div class="w-full overflow-hidden rounded-lg shadow">
        <div
          class="bg-blue-300 rounded-lg  max-h overflow-hidden scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-200">

          <div class="w-full backdrop-blur-lg bg-white/50 md:mt-0 sm:max-w-6xl xl:p-0 rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-none tracking-normal text-gray-950 md:text-2xl">
                Your Weekly Slots
              </h1>
              <div class="mt-4 space-y-4 md:space-y-6" action="#">
                <div class="w-full overflow-hidden rounded-lg shadow">
                  <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                      <thead>
                        <tr
                          class="text-lg text-gray-900 font-bold tracking-wide text-left  uppercase border-b bg-white ">
                          <th class="px-4 py-3">Days</th>
                          <th class="px-4 py-3">Break</th>
                          <th class="px-4 py-3">Starting Time</th>
                          <th class="px-4 py-3">Ending Time</th>
                        </tr>
                      </thead>

                      <tbody *ngFor="let i of days; let index = index" class="bg-white divide-y dark:divide-gray-700 ">

                        <div *ngIf="doctor.Starting_time_first[index] !== ''; then Showblock"> </div>

                        <ng-template #Showblock>
                          <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                              <div class="flex items-center text-sm">
                                <div>
                                  <p class="font-semibold text-gray-700 ">
                                    {{ days[index] }}
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td class="px-4 py-3 text-gray-700 text-sm">
                              <div class="flex items-center text-sm">
                                <div *ngIf="doctor.Starting_time_second[index] !== '';">
                                  <p class="font-semibold text-gray-700 ">
                                    Yes
                                  </p>
                                </div>
                                <div *ngIf="doctor.Starting_time_second[index] === '';">
                                  <p class="font-semibold text-gray-700 ">
                                    No
                                  </p>
                                </div>
                              </div>
                            </td>

                            <div *ngIf="doctor.Starting_time_second[index] !== ''; then thenBlock else elseBlock">
                            </div>

                            <ng-template #thenBlock>
                              <td class="px-4 py-3 text-gray-700 text-xs">
                                <div class="flex items-center text-sm">
                                  <div>
                                    <p class="font-semibold text-gray-700 ">
                                      First : {{ doctor.Starting_time_first[index] }}
                                    </p>
                                    <p class="font-semibold text-gray-700 ">
                                      Second : {{ doctor.Starting_time_second[index] }}
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td class="px-4 py-3 text-gray-700 text-sm">
                                <div class="flex items-center text-sm">
                                  <div>
                                    <p class="font-semibold text-gray-700 ">
                                      First : {{ doctor.Ending_time_first[index] }}
                                    </p>
                                    <p class="font-semibold text-gray-700 ">
                                      Second : {{ doctor.Ending_time_second[index] }}
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </ng-template>
                            <ng-template #elseBlock>
                              <td class="px-4 py-3 text-gray-700 text-xs">
                                <div class="flex items-center text-sm">
                                  <div>
                                    <p class="font-semibold text-gray-700 ">
                                      First : {{ doctor.Starting_time_first[index] }}
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td class="px-4 py-3 text-gray-700 text-sm">
                                <div class="flex items-center text-sm">
                                  <div>
                                    <p class="font-semibold text-gray-700 ">
                                      First : {{ doctor.Ending_time_first[index] }}
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </ng-template>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                  <div
                    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
                    <span class="flex items-center col-span-3">
                      Showing days for which slot is booked
                    </span>
                    <span class="col-span-2"></span>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr class="text-lg text-gray-900 font-bold tracking-wide text-left  uppercase border-b bg-white ">
                <th class="px-4 py-3">Days</th>
                <th class="px-4 py-3">Break</th>
                <th class="px-4 py-3">Starting Time</th>
                <th class="px-4 py-3">Ending Time</th>
              </tr>
            </thead>

            <tbody *ngFor="let slot of timeSlots" class="bg-white divide-y dark:divide-gray-700 ">
              
              <div *ngIf = "slot.startTimeFirst != 0; then Showblock"> </div>
              
              <ng-template #Showblock>
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                      <div>
                        <p class="font-semibold text-gray-700 ">
                          {{ slot.day | date: 'EEEE' }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="px-4 py-3 text-gray-700 text-sm">
                    <div class="flex items-center text-sm">
                      <div>
                        <p class="font-semibold text-gray-700 ">
                          {{ slot.break }}
                        </p>
                      </div>
                    </div>
                  </td>

                  <div *ngIf = "slot.break == 'Yes'; then thenBlock else elseBlock"> </div>
                  
                  <ng-template #thenBlock>
                    <td class="px-4 py-3 text-gray-700 text-xs">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-gray-700 ">
                            First  : {{ slot.startTimeFirst }}
                          </p>
                          <p class="font-semibold text-gray-700 ">
                            Second : {{ slot.startTimeSecond }}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td class="px-4 py-3 text-gray-700 text-sm">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-gray-700 ">
                            First  : {{ slot.endTimeFirst }}
                          </p>
                          <p class="font-semibold text-gray-700 ">
                            Second : {{ slot.endTimeSecond }}
                          </p>
                        </div>
                      </div>
                    </td>
                  </ng-template>
                  <ng-template #elseBlock>
                    <td class="px-4 py-3 text-gray-700 text-xs">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-gray-700 ">
                            First : {{ slot.startTimeFirst }}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td class="px-4 py-3 text-gray-700 text-sm">
                      <div class="flex items-center text-sm">
                        <div>
                          <p class="font-semibold text-gray-700 ">
                            First : {{ slot.endTimeFirst }}
                          </p>
                        </div>
                      </div>
                    </td>
                  </ng-template>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
        <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
          <span class="flex items-center col-span-3">
            Showing days for which slot is booked
          </span>
          <span class="col-span-2"></span>
        </div>
      </div> -->
    </div>
  </div>
</div>
<script>
  const list = document.querySelectorAll("ul li");
  function activelink() {
    list.forEach((item) => item.classList.remove("active"));
    this.classList.add("active");
  }
  list.forEach((item) => item.addEventListener("click", activelink));
</script>