<div class="bg-custom-gradient">
    <div class="pt-[4%]">

    <!-- Page Header Start -->
    <div class=" mb-0 py-5">
        <div class="container mx-auto">
            <div class="text-center font-semibold py-4">
                <h2 class="text-[2.5rem] text-[#333]">About Us</h2>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- web Start -->
    <div class="web mt-0 px-8">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="web-item max-w-[400px] bg-white shadow-[0px_0px_20px_rgba(0,0,0,0.1)] text-center transition-all duration-[0.3s] ease-[ease] mx-auto my-0 p-5 rounded-[10px] hover:translate-y-[-5px];">
                <div class="flex items-center justify-center mb-4">
                    <i class="flaticon-1 text-5xl text-[#1497ee]"></i>
                </div>
                <h2 class="text-center mb-4 text-2xl text-[#333] mt-2.5">Comprehensive Primary Care</h2>
                <img src="assets/test1.jpg" alt="1" class="mx-auto mb-4 inline-block py-[5%] p-[auto]">
                <p class="text-center text-[#666] mt-[5px]">
                    Offer a comprehensive range of primary care services, including routine check-ups, preventive care, and treatment for common illnesses. Emphasize the importance of regular health screenings and wellness exams to maintain overall health and detect potential issues early.
                </p>
                <a href="" class="btn inline-block bg-[#1497ee] text-white transition-all duration-[0.3s] ease-[ease]  px-5 py-2.5 rounded-[5px] hover:bg-[#1497ee] mx-auto mt-4">Book Appointment</a>
            </div>
            <div class="web-item max-w-[400px] bg-white shadow-[0px_0px_20px_rgba(0,0,0,0.1)] text-center transition-all duration-[0.3s] ease-[ease] mx-auto my-0 p-5 rounded-[10px] hover:translate-y-[-5px];">
                <div class="flex items-center justify-center mb-4 ">
                    <i class="flaticon-2 text-5xl text-[#1497ee]"></i>
                </div>
                <h2 class="text-center mb-4 text-2xl text-[#333] mt-2.5 ">Specialized Medical Expertise</h2>
                <img src="assets/test1.jpg" alt="1" class="mx-auto mb-4 inline-block py-[5%] p-[auto]">
                <p class="text-center text-[#666] mt-[5px]">
                    Highlight the expertise of your medical professionals in specialized areas such as cardiology, dermatology, pediatrics, etc. Describe how these specialists provide advanced diagnostic and treatment options tailored to each patient's unique needs.
                </p>
                <a href="" class="btn inline-block bg-[#1497ee] text-white transition-all duration-[0.3s] ease-[ease]  px-5 py-2.5 rounded-[5px] hover:bg-[#1497ee] mx-auto mt-4">Book Appointment</a>
            </div>
            <div class="web-item max-w-[400px] bg-white shadow-[0px_0px_20px_rgba(0,0,0,0.1)] text-center transition-all duration-[0.3s] ease-[ease] mx-auto my-0 p-5 rounded-[10px] hover:translate-y-[-5px];">
                <div class="flex items-center justify-center mb-4">
                    <i class="flaticon-3 text-5xl text-[#1497ee]"></i>
                </div>
                <h2 class="text-center mb-4 text-2xl text-[#333] mt-2.5">Advanced Technology and Diagnostic Facilities</h2>
                <img src="assets/test1.jpg" alt="1" class="mx-auto mb-4 inline-block py-[5%] p-[auto]">
                <p class="text-center text-[#666] mt-[5px]">
                    Showcase the state-of-the-art technology and diagnostic facilities available at your clinic, including X-rays, ultrasound, MRI, CT scans, and laboratory tests. Explain how these advanced resources aid in accurate diagnosis, personalized treatment plans, and improved patient outcomes.
                </p>
                <a href="" class="btn inline-block bg-[#1497ee] text-white transition-all duration-[0.3s] ease-[ease]  px-5 py-2.5 rounded-[5px] hover:bg-[#1497ee] mx-auto mt-4">Book Appointment</a>
            </div>
        </div>
    </div>
</div>

    <!-- web End -->


    <!-- About Start -->
    <div class="about py-7">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="flex about-img item-center justify-center rounded-xl bg-white"> 
                    <img class="inline-block" src="https://res.cloudinary.com/dcz8mfqmp/image/upload/v1712516464/logo21_rmoqg9.jpg" alt="Image">
                </div>
                <div class="about-content">
                    <div class="section-header py-5">
                        <h2 class="text-[2.5rem] text-[#333]">Doc-Connect</h2>
                    </div>
                    <div class="about-text text-white pb-5">
                        <p class="mb-[15px]">
                            Our website allows patients to easily schedule appointments with medical professionals online, offering convenience and accessibility.
                        </p>
                        <p>
                            Patients can access detailed information about available services, doctor profiles, and clinic contact details, enabling them to make informed decisions about their healthcare needs.
                        </p>
                        <a class="btn inline-block bg-white text-[#417af6] transition-all duration-[0.3s] ease-[ease] mt-5 px-5 py-2.5 rounded-[5px] hover:bg-[#1497ee] hover:text-white" href="">Book An  Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!--  -->
    
    <div class="bg-white bg-opacity-25">
    <div class="page-header mb-5">
        <div class="container mx-auto">
            <div class="text-center font-semibold py-4">
                <h2 class="text-[2.5rem] text-[#333]">Why choose us</h2>
            </div>
        </div>
    </div>
    
    <!-- Page Header End -->

    <!-- Feature Start -->
    
        <div class="container mx-5 px-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="py-24 ">
                    <div class="feature-img mb-8 rounded-lg overflow-hidden">
                        <div class="bg-white grid grid-cols-2 md:grid-cols-2 border-2 border-black rounded">
                            <div>
                                <img src="https://res.cloudinary.com/dcz8mfqmp/image/upload/v1712516386/book-doctor-appointment_zsggna.jpg" alt="Image" class="w-full z-10 h-auto md:max-h-30 md:max-h-44 lg:max-h-40 transition duration-300 transform hover:scale-110 hover:-z-20"> <!-- Adjusted scale to 125% -->
                            </div>
                            <div>
                                <img src="https://res.cloudinary.com/dcz8mfqmp/image/upload/v1712516390/online_doc_sozb47.webp" alt="Image" class="w-full z-10 h-auto md:max-h-30 md:max-h-44 lg:max-h-40 transition duration-300 transform hover:scale-110 hover:-z-20"> <!-- Adjusted scale to 125% -->
                            </div>
                            <div>
                                <img src="https://res.cloudinary.com/dcz8mfqmp/image/upload/v1712516388/doctorcharacter_vuar3q.png" alt="Image" class="w-full z-10 h-auto md:max-h-30 md:max-h-44 lg:max-h-40 transition duration-300 transform hover:scale-110 hover:-z-20"> <!-- Adjusted scale to 125% -->
                            </div>
                            <div>
                                <img src="https://res.cloudinary.com/dcz8mfqmp/image/upload/v1712516392/Online_doctor_lvclho.jpg" alt="Image" class="w-full z-1  0 h-auto md:max-h-30 md:max-h-44 lg:max-h-40 transition duration-300 transform hover:scale-110 hover:-z-20"> <!-- Adjusted scale to 125% -->
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="container px-10 py-14">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-20">
                        <div class="feature-item">
                            <i class="flaticon-cooking text-6xl text-green-500"></i>
                            <h3 class="text-xl font-bold mb-2">Easy Appointment Scheduling</h3>
                            <p class="text-base">
                                Streamlined booking process for quick appointments with preferred doctors.
                            </p>
                        </div>
                        <div class="feature-item">
                            <i class="flaticon-vegetable text-6xl text-green-500"></i>
                            <h3 class="text-xl font-bold mb-2">Comprehensive Doctor Profiles</h3>
                            <p class="text-base">
                                Detailed profiles with specialties, qualifications, and availability.
                            </p>
                        </div>
                        <div class="feature-item">
                            <i class="flaticon-cooking text-6xl text-green-500"></i>
                            <h3 class="text-xl font-bold mb-2">Real-time Availability Updates</h3>
                            <p class="text-base">
                                Instant updates on available appointment slots for efficient scheduling.
                            </p>
                        </div>
                        <div class="feature-item">
                            <i class="flaticon-cooking text-6xl text-green-500"></i>
                            <h3 class="text-xl font-bold mb-2">Patient Feedback and Reviews</h3>
                            <p class="text-base">Streamlined booking process for quick appointments with preferred doctors.</p>
                        </div>
                        <div class="feature-item">
                            <i class="flaticon-cooking text-6xl text-green-500"></i>
                            <h3 class="text-xl font-bold mb-2">Telemedicine Integration</h3>
                            <p class="text-base">
                                Seamless virtual consultations for added accessibility.
                            </p>
                        </div>
                        <!-- Add more feature items here -->
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!-- Feature End -->
    
    <app-footer ></app-footer>
    </div>
</div>
