.indicator {
    z-index: -1;
    margin-top: 84px;
    position: absolute;
    top: -10px;
    width: 212px;
    height: 52px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
  }
  
  .indicator::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left:193px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 35px;
    box-shadow: 4px -6px 0 2px rgb(147 197 253 / 1);
  }
  
  .indicator::after {
    content: "";
    position: absolute;
    top: -20px;
    left:193px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 35px;
    box-shadow: 4px 6px 0 2px rgb(147 197 253 / 1);
    z-index: -1;
  }
  .indicator span {
    position: absolute;
    bottom: 8px;
    right: -25px;
    width: 254px;
    height: 45px;
    border-radius: 23px;
    border: 3px solid #29fd;
    background-color: rgb(37 99 235 / 1);
    transform-origin: bottom;
    transform: scale(0.80);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  