<!-- payment-status-dialog.component.html -->

<div class="overlay">
    <div class="flex flex-col bg-white h-80 w-1/2 rounded-xl items-center justify-center relative">
        <div *ngIf="!verificationDone" class="flex items-center justify-center flex-col mb-4">
            <img src="assets/Loader.gif" class="h-56 w-auto text-red-500 " alt="Error Icon">
            <span class="text-lg">Verifying payment...</span>
        </div>
        <div *ngIf="verificationDone && verificationResult" class="flex items-center justify-center flex-col mb-4">
            <img src="assets/verification_success.gif" class="h-56 w-auto text-red-500" alt="Error Icon">
            <span class="text-lg">{{ verificationMessage }}</span>
        </div>
        <div *ngIf="verificationDone && !verificationResult" class="flex items-center justify-center flex-col mb-4">
            <img src="assets/verification_failure.gif" class="h-56 w-auto text-red-500" alt="Error Icon">
            <span class="text-lg">{{ verificationMessage }}</span>
        </div>
        
    </div>
</div>