
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}


h1 {
    text-align: center;
    color: #3d1e1e;
}


.profiles-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
}


.profile-card {
    margin: center;
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #471ea7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #ececec;
    margin: 20px;
}


.profile-card:last-child {
    margin-right: 0;
}


.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.profile-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}


.profile-details {
    text-align: center;
    padding: 20px;
}


.profile-name {
    margin-bottom: 10px;
    color: #230303;
    font-size: 1.5em;
}


.profile-specialty {
    margin-bottom: 10px;
    color: #777;
    font-size: 1.1em;
}


.profile-bio {
    margin-bottom: 15px;
    color: #555;
}


.profile-icons {
    display: flex;
    gap: 10px;
    font-size: 1.2em;
}


.profile-icons i {
    color: #777;
    cursor: pointer;
}


.profile-icons i:hover {
    color: #333;
}

.custom-prev-arrow,
.custom-next-arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    color: #210E09; 
    cursor: pointer;
}

.custom-prev-arrow {
    left: 1px; 
}

.custom-next-arrow {
    right: 1px; 
}
