.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 574px;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  transition: opacity 1.5s ease-in-out;
}

.quote-overlay {
  position: absolute;
  top: 30%;
  left: 20px;
  transform: translateY(-50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.173);
}

.quote {
  font: bold 30px/1.5 sans-serif;
  color: black;
  white-space: pre-line;
}

.quote .second-line {
  padding-left: 20px;
}